.product {
  width: 40rem;
  border: 1px solid #ccc;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.065);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  color: #444;
}
.deleteBtn,.increment,.decrement {
  color: #6d28d9;
  background-color: #fff;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  justify-content:center;
  align-items: center;
}
.inc {
    background-color: #c2b6f8;
    font-size: 18px;
}
.dec {
    font-size: 18px;
}
.value {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ede9fe;
    color: #6d28d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.input {
  outline: none;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  padding: 5px 2px;
  color: #444;
}
.input:focus {
  border: 2px solid #6d28d9;
}
.empty {
  margin-top: 40px;
  color: #555;
  font-size: 18px;
}
.trash {
  color: red;
  background-color: #fff;
  border: 1px solid red;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  justify-content:center;
  align-items: center;
}