.navBar {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 10px;
  box-shadow: 3px 0 3px 2px rgb(176, 175, 175);
  color: #444;
}
.navBar h2 {
  font-size: 16px;
}
.navBar span {
  margin-left: 10px;
  background-color: #d3cbf4;
  color: #6d28d9;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}